body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 40px;
  
    font-family: "Nome da fonte", Arial, sans-serif;
    color: white;
  }
  

.student {
  display: inline-block;
  margin: 20px;
  transition: transform 0.3s;
}

.student img {
  width: 200px;
  height: 200px;
}

.student:hover {
  transform: scale(1.1);
}

.buttons {
  margin-top: 20px;
}

.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  text-decoration: none;
  background-color: #26a131;
  color: #333;
  font-weight: bold;
  border-radius: 4px;
}

body {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(236, 9, 9));
}

.student div {
  color: white;
  font-size: 18px;
}

.student div {
  color: white;
  font-size: 18px;
  position: relative;
}

.buttons {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 9999;
}

.button-left,
.button-right {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s;
}

.button-left {
  background-color: rgb(255, 0, 0);
}

.button-right {
  background-color: rgb(96, 112, 96);
}

.button-left:hover,
.button-right:hover {
  transform: scale(1.1);
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}





