body {
    background-color: #f1f1f1; 
  }

  header {
    text-align: center;
    background-color: rgb(255, 5, 5);
    padding: 40px; 
  }

  h1 {
    color: rgb(12, 12, 12); 
    font-size: 32px; 
  }
    background-color: #black
      font-family: Arial, sans-serif; /* Fonte para o texto */
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Cria três colunas iguais */
      gap: 20px; /* Espaçamento entre as colunas */
      padding: 20px; /* Espaçamento interno */
    }

    .grid-item {
      text-align: center;
    }

    .grid-item img {
      max-width: 100%; 
      height: auto; 
      margin-bottom: 10px; 
      width: 500px;
    }

    .grid-item h2 {
      color: rgb(0, 0, 0);
      font-size: 34px;
      margin-bottom: 5px;
    }

    .grid-item p {
      font-size: 24px;
      margin-bottom: 0;
    }