body {
    background-color: #f1f1f1; 
  }

  header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 40px; 
  }

  h1 {
    color: rgb(202, 31, 31); 
    font-size: 32px; 
  }
    background-color: #black
      font-family: Arial, sans-serif; 
    }

    body {
        background-color: #7dc43a; 
        font-family: Arial, sans-serif; 
      }
  
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
        padding: 20px; 
        margin-top: 40px; 
      }
  
      .grid-item {
        text-align: center; 
      }
  
      .grid-item img {
        max-width: 100%; 
        height: auto; 
        margin-bottom: 10px; 
        width: 300px;
      }
  
      .grid-item h2 {
        color: rgb(81, 255, 0); 
        font-size: 24px; 
        margin-bottom: 5px;
      }
  
      .grid-item p {
        font-size: 14px; 
        margin-bottom: 0; 
      }