
* {
    margem : 0 ;
    preenchimento : 0 ;
}

. cabecalho {
    cor de fundo :  # 424E61 ;
    cor : branco;
    exibição : flexível;
    justificar-conteúdo : espaço ao redor;
    itens de alinhamento : centro;
    margem :  24 px  0 ;
}

. cabecalho-imagem {
    largura :  20 % ;

}
. cabecalho-imagem-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}
